[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyinstrument = "*"
jupyterlab = "*"
pygobject = "*"
gaphor = "*"
pillow = "*"
matplotlib = "*"
solara = "*"
altair = "*"
seaborn = "*"
networkx = "*"
pythran = "*"
mesa-ines = {ref = "ines_edu", git = "git+https://github.com/UniK-INES/mesa"}

[dev-packages]

[requires]
python_version = "3.12"
